
<main class="container">
  <header><h2 class="text-center">Church Workers Directory</h2></header>
  <section>
    
    <table class="table table-hover workers">
      <thead>
        <tr>
          <th>S/N</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Service Unit</th>
          <th>Details</th>
          <th>Update</th>
          <th>Delete</th>

      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let worker of workers" [class.selected]="worker === selectedWorker">
          <td>{{worker.id}}</td>
          <td>{{worker.firstname}}</td>
          <td>{{worker.lastname}}</td>
          <td>{{worker.serviceUnit}}</td>
          <td (click)="onSelectWorker(worker)"><button class="btn btn-info" data-toggle="modal" data-target="#myModal"> Details</button></td>
          <td (click)="updateWorker(worker)"><button class="btn btn-delete" > Update</button></td>
          <td (click)="deleteWorker(worker)"><button class="btn btn-danger"> Delete</button></td>
        </tr>
      </tbody>    
    </table>
</section >
    
<button class="btn btn-primary" data-toggle="modal" data-target="#addModal" >Add New Worker </button>
<section>
<!-- Details Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Worker's Detail</h4>
      </div>
      <div class="modal-body">
        <app-detail [worker]="selectedWorker"></app-detail>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     
      </div>
    </div>
  </div>
</div>
</section>
<section>
<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Worker</h4>
      </div>
   
      <div class="modal-body">
       <form class="form-horizontal" >
        <div class="form-group">
           <label for="inputFirstname" class="col-sm-2 control-label">Firstname</label>
        <div class="col-sm-10">
           <input type="text" class="form-control"  #firstName placeholder="Enter Firstname" requiredß/>
        </div>
      </div>
      <div class="form-group">
        <label for="inputLastname" class="col-sm-2 control-label">Lastname</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" #lastName placeholder="Enter Lastname" required>  
        </div>
      </div>
      <div class="form-group">
        <label for="inputGender" class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10" >
        
           <label>
           <input type="radio" #genderMale  name="gen"   value="Male" (change)="genderFunc(genderMale)">  
            Male  
          </label>
          <label>
            <input type="radio" #genderFemale   name="gen" value="Female" (change)="genderFunc(genderFemale)">
            Female
          </label>
        </div>
      </div>
    
       <div class="form-group">
        <label for="inputAddress" class="col-sm-2 control-label">Contact Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" #address placeholder="Enter Contact Address" required>  
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" #email placeholder="Enter Email Address" required>  
        </div>
      </div>
      <div class="form-group">
        <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
          <input type="tel" class="form-control" #phone placeholder="Enter Phone Address" required>  
        </div>
      </div>
      <div class="form-group">
        <label for="inputPhone" class="col-sm-2 control-label">Service Unit</label>
        <div class="col-sm-10">
        <select  class="form-control" #serviceUnit (change)="serviceUnitFunc(serviceUnit)" required>
            <option disabled selected > Select your unit</option>
             <option *ngFor="let unit of serviceUnits">{{unit.unitName}}</option>
          </select>
          </div>
         </div>
      <div class="form-group">
        <label for="inputPhone" class="col-sm-2 control-label">Birthday</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" #birthDay placeholder="Enter Birthday" required>  
        </div>
      </div>
          <div class="modal-footer">
        <input type="reset" value="Close" class="btn btn-default" data-dismiss="modal">
        <input type="submit" value="Save Worker" class="btn btn-success" (click)="addWorker(firstName.value,lastName.value, address.value,email.value, phone.value, birthDay.value); firstName.value=''; lastName.value='';
        address.value = '';email.value=''; phone.value=''; gender.value = ''; birthDay.value='';joined=''; "     
        data-dismiss="modal">
      </div>
    </form>
  
      </div>
  
    </div>
  </div>
</div>
</section>
<section>
<!-- Details Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModalLabel">Delete Worker's Record</h4>
      </div>
      <div class="modal-body">
       Are you sure you want to delete the worker record?
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-primary" (click)="deleteWorker(worker)">YES, DELETE</button>
      </div>
    </div>
  </div>
</div>
</section>
</main>