 <section *ngIf="worker">
   <div>
    <label>id: </label>{{worker.id}}
    </div>
    <h2>{{worker.firstname}} {{worker.lastname}}</h2>
    <div>Gender: {{worker.gender}} </div>
    <div>Address: {{worker.address}} </div>
    <div>Email:{{worker.email}} </div>
    <div>Phone:{{worker.phone}} </div>
    <div>Birthday: {{worker.birthday | date:"MM-dd-yyyy"}} </div>
    <div>Service Unit:{{worker.serviceUnit}} </div>
    <div>Joined Date: {{worker.joined | date:"MM-dd-yyyy"}} </div>
  
   </section>


    <!--<section *ngIf="worker">
      <h2>{{worker.firstname}} {{worker.lastname}} details!</h2>
      <div>
        <label>id: </label>{{worker.id}}
      </div>
      <div>
        <label>Firstname: </label>
        <input [(ngModel)]="worker.firstname" placeholder="firstname"/>
      </div>

       <button class="btn-primary" (click)="addWorker()">Add New Worker </button>
 
   </section>-->